@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-1200 {
    animation-delay: 1200ms;
  }
  .animation-delay-1800 {
    animation-delay: 1800ms;
  }
}
